<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuxi.mapper.TdmPastYearLokageBasinGoodsDfMapper">
    <select id="getUpAndDownCrgDdwghtTns" resultType="com.shuxi.dto.TdmPastYearLokageBasinGoodsDfDTO">
        select up_table.show_dimension show_dimension,up_table.fz_date fz_date,up_table.dimension_values dimension_values,up_table.crg_ddwght_tns up_crg_ddwght_tns,down_table.crg_ddwght_tns down_crg_ddwght_tns
        from tdm_past_year_lokage_basin_goods_df up_table
        join tdm_past_year_lokage_basin_goods_df down_table
        on up_table.show_dimension=down_table.show_dimension and up_table.fz_date=down_table.fz_date and up_table.dimension_values=down_table.dimension_values
        where up_table.curs_cd='上行' and down_table.curs_cd='下行'
        order by up_table.fz_date
    </select>
</mapper>
