<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuxi.mapper.TdmPaymentMethodDistributionDfMapper">
    <select id="getOnlineAndTotal" resultType="com.shuxi.dto.TdmPaymentMethodDistributionDfDTO">
        select snid,e_pay_amount+wx_zfb_amount,total_amount from tdm_payment_method_distribution_df
        where snid!='总览'
    </select>
</mapper>
