<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuxi.mapper.TdmThisYearEachShiplockForecastDfMapper">
    <select id="getForecastAndActual" resultType="com.shuxi.dto.TdmThisYearEachShiplockForecastDfDTO">
        select forecast_table.show_type show_type,forecast_table.data_type data_type,forecast_table.cz_count forecast_cz_count,forecast_table.crg_ddwght_tns forecast_crg_ddwght_tns,actual_table.cz_count actual_czCount,actual_table.crg_ddwght_tns actual_crg_ddwght_tns
        from tdm_this_year_each_shiplock_forecast_df forecast_table
        left join tdm_this_year_each_shiplock_forecast_df actual_table
        on forecast_table.data_type=actual_table.data_type and forecast_table.show_type=actual_table.show_type
        where forecast_table.snid='预测过闸' and actual_table.snid='实际过闸'
    </select>
</mapper>
